<!DOCTYPE html>
<html>
  <head>
    <title>Jello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta property="og:title" content="Jello" />
    <meta property="og:description" content="A Trello Clone that uses Ruby Rails as Backend and React for Frontend." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jelloz.herokuapp.com/#/" />
    <%= tag :meta, property: 'og:image', content: image_url('moveLists.gif') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>