<!DOCTYPE html>
<html>
  <head>
    <title>Jello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <meta property="og:title" content="Jello" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jelloz.herokuapp.com/#/" />
    <meta property="og:image" content="<%= image_url('moveLists.gif') %>">
    <%= favicon_link_tag asset_path('favicon.ico') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>