<!DOCTYPE html>
<html>
  <head>
    <title>Jello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splashmain = "<%= image_url('splashmain.png') %>";
      window.splashmain2 = "<%= image_url('splashmain2.png') %>";
      window.splashmain3 = "<%= image_url('splashphone.png') %>";
      window.puddingIcon = "<%= image_url('pudding.svg') %>";
      window.filmIcon = "<%= image_url('film-strip.svg') %>";
      window.bowlIcon = "<%= image_url('bowling.svg') %>";
      window.bballIcon = "<%= image_url('basketball.svg') %>";
      window.vgIcon = "<%= image_url('videogame.svg') %>";
      window.bagIcon = "<%= image_url('shopping-bag.svg') %>";
      window.teaIcon = "<%= image_url('bubble-tea.svg') %>";
      window.lpudding = "<%= image_url('sessionleft.png') %>";
      window.rpudding = "<%= image_url('sessionright.png') %>";
      window.boardnav = "<%= image_url('boardnav.png') %>";
    </script>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta property="og:title" content="Jello" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Trello Clone that uses Ruby Rails as Backend and React for Frontend" />
    <meta property="og:url" content="https://jelloz.herokuapp.com/" />
    <meta property="og:image" content="<%= image_url('homepage.gif') %>" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>